
<header class="bg-red-500  p-2  ">
    <img src="assets/logo.jpg" alt="logo" class="h-20 w-20 rounded-full ">
    <div class="container mx-auto mt-0"></div>
    <div class="text-black text-lg font-bold h-16 text-center " >UNIDAD EDUCATIVA FISCOMISIONAL SALESIANA SANTA MARIA MAZZARELLO</div>
    <nav class="flex space-x-4 txt-center content-center" >
           <a href="#" class="text-black  hover:underline">INICIO</a> 
           <a href="#" class="text-black  hover:underline">NOSOTROS</a> 
           <a href="#" class="text-black  hover:underline">ACTIVIDADES</a> 
           <a href="#" class="text-black  hover:underline">EDUCACION</a> 
           <a href="#" class="text-black  hover:underline">EN LINEA</a>  
        
        </nav>
   
     
      
</header>
