<header class="bg-red-500 p-2">
    <div class="flex justify-center items-center">
        <img src="assets/logo.jpg" alt="logo" class="h-20 w-20 rounded-full">
    </div>
    <div class="container mx-auto">
        <div class="text-white text-lg font-bold h-16 text-center pb-2">UNIDAD EDUCATIVA FISCOMISIONAL SALESIANA SANTA MARIA MAZZARELLO</div>
            <nav class="space-x-4 text-center pb-0">
            <a href="#" class="text-white  hover:underline">Inicio</a> 
            <a href="#" class="text-white  hover:underline">Nosotros</a> 
            <a href="#" class="text-white  hover:underline">Actividades</a> 
            <a href="#" class="text-white  hover:underline">Educación</a> 
            <a href="#" class="text-white  hover:underline">En línea</a>  
            </nav> 
        </div>
</header>