<main>
    <div class="container mx-auto mt-5">
        <img src="assets/foto_01.jpg" alt="foto_portada">
    </div>
    <div class="container mx-auto mt-2 px20 py10 bg-pink-600">
        <h1 class="text-black font-bold  text-xl">Misión</h1>
        <p class="text-sm  text-justify py-2">Misión La Unidad Educativa Fiscomisional “Santa María Mazzarello” de Guayaquil 
            es una institución salesiana de excelencia que educa integralmente a las niñas 
            y jóvenes de clases populares, especialmente a las más necesitadas, que las lleva
            a ser “buenas cristianas y honradas ciudadanas”, comprometidas con los demás, según
            el estilo de Santa María Mazzarello y San Juan Bosco, mediante la vivencia del Sistema
            Preventivo, en un clima de espontaneidad, amistad, alegría y familiaridad que las hace 
            que se sientan como en “su propia casa”.</p>
    </div>
    <div class="container mx-auto mt-2 px20 py10 bg-pink-400">
        <h2 class="text-black font-bold text-xl">Visión</h2>
        <p class="text-sm  text-justify py-2">Durante los próximos cinco años, 
            la Unidad Educativa Fiscomisional “Santa María Mazzarello” de Guayaquil, será una institución de excelencia
             porque ofrecerá a la Iglesia y a la sociedad, bachilleres que vivan los valores humanos y cristianos con 
            liderazgo positivo inspiradas en el evangelio, que las lleve a ser protagonistas en la construcción de una sociedad más justa, 
            solidaria e inclusiva como resultado de un currículo pastoral actualizado, iluminado y orientado por la Pedagogía del Sistema 
            Preventivo, el mismo que será vivido por la comunidad educativa comprometida con la noble tarea de formar “buenas cristinas y honradas ciudadanas”.</p>

    </div>
    <div class="grid grid-flow-col grid-rows-2 grid-cols-3 gap-8  matgien-top mt-4">
        <div>
          <img src="assets/deporte.jpg" alt="" loading="lazy">
          <a href="#" class="text-black font-bold text-xl hover:underline">SEGUNDO CAMPEONATO NACIONAL
            INTERCOLEGIAL SALESIANAS 120</a> 

        </div>
        <div class="col-start-3">
          <img src="assets/familia.jpg" alt="" loading="lazy">
          <a href="#" class="text-black font-bold text-xl hover:underline">LANZAMIENTO PROPUESTA PASTORAL 2022-2025</a> 
          </div>
        <div>
          <img src="assets/casa abierta.jpg" alt="" loading="lazy">
          <a href="#" class="text-black font-bold text-xl hover:underline">CASA ABIERTA «SALESIANAS MISIONERAS, 120 AÑOS»</a> 
        </div>
        <div>
          <img src="assets/ma.jpg" alt="" loading="lazy">
          <a href="#" class="text-black font-bold text-xl hover:underline">VIRGEN MARIA AUXILIADORA</a> 
       </div>
        <div>
            <img src="assets/juramento.jpg" alt="" loading="lazy">
            <a href="#" class="text-black font-bold text-xl hover:underline">EC Juramento a la Bandera 2023</a>
           </div>
          <div class="col-start-3">
            <img src="assets/olimpiada.jpg" alt="" loading="lazy">
            <a href="#" class="text-black font-bold text-xl hover:underline">OLIMPIADAS MAZZARELLANAS</a>
          </div>
      </div>
</main>