<main>
    <div class="container mx-auto mt-5">
        <img src="assets/foto_01.jpg" alt="foto_portada">
    </div>
    <div class="container mx-auto my-2 px-4 py-4 bg-pink-600">
        <h1 class="text-black font-bold text-xl text-white">Misión</h1>
        <p class="text-sm text-justify py-2 text-white">Misión La Unidad Educativa Fiscomisional “Santa María Mazzarello” de Guayaquil 
            es una institución salesiana de excelencia que educa integralmente a las niñas 
            y jóvenes de clases populares, especialmente a las más necesitadas, que las lleva
            a ser “buenas cristianas y honradas ciudadanas”, comprometidas con los demás, según
            el estilo de Santa María Mazzarello y San Juan Bosco, mediante la vivencia del Sistema
            Preventivo, en un clima de espontaneidad, amistad, alegría y familiaridad que las hace 
            que se sientan como en “su propia casa”.</p>
    </div>
    <div class="container mx-auto my-2 px-4 py-4 bg-pink-400">
        <h2 class="text-black font-bold text-xl text-white">Visión</h2>
        <p class="text-sm text-justify py-2 text-white">Durante los próximos cinco años, 
            la Unidad Educativa Fiscomisional “Santa María Mazzarello” de Guayaquil, será una institución de excelencia
             porque ofrecerá a la Iglesia y a la sociedad, bachilleres que vivan los valores humanos y cristianos con 
            liderazgo positivo inspiradas en el evangelio, que las lleve a ser protagonistas en la construcción de una sociedad más justa, 
            solidaria e inclusiva como resultado de un currículo pastoral actualizado, iluminado y orientado por la Pedagogía del Sistema 
            Preventivo, el mismo que será vivido por la comunidad educativa comprometida con la noble tarea de formar “buenas cristinas y honradas ciudadanas”.</p>
    </div>

    <div class="flex justify-center mx-8 my-8">
        
        <div class="w-1/3 mx-2 text-center">
          <img src="assets/deporte.jpg" alt="img_1">
          <a href="#" class="text-black font-bold text-sm hover:underline">SEGUNDO CAMPEONATO NACIONAL
            INTERCOLEGIAL SALESIANAS 120</a> 
        </div>

        <div class="w-1/3 mx-2 text-center">
          <img src="assets/familia.jpg" alt="img_3">
          <a href="#" class="text-black font-bold text-sm hover:underline">LANZAMIENTO PROPUESTA PASTORAL 2022-2025</a> 
          </div>

        <div class="w-1/3 mx-2 text-center">
          <img src="assets/casa abierta.jpg" alt="img_2">
          <a href="#" class="text-black font-bold text-sm hover:underline">CASA ABIERTA SALESIANAS MISIONERAS, 120 AÑOS</a> 
        </div>

    </div>
</main>